@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer components {
  .header-1-100 {
    font-size: 20px;
    font-weight: 100;
    line-height: normal;
  }
  .header-1-500 {
    @apply header-1-100;
    font-weight: 500;
  }
  .header-1-600 {
    @apply header-1-100;
    font-weight: 600;
  }

  .header-2-100 {
    font-size: 16px;
    font-weight: 100;
    line-height: normal;
  }
  .header-2-600 {
    @apply header-2-100;
    font-weight: 600;
  }

  .header-3-100 {
    font-size: 12px !important;
    color: #3b4854 !important;
    font-weight: 100;
    line-height: normal;
  }

  .header-3-600 {
    @apply header-3-100;
    font-weight: 600;
  }
}

/* Froala toolbar bottom */
.fr-toolbar .fr-newline {
  background: none !important;
}
