@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer components {
  .header-1-100 {
    font-size: 20px;
    font-weight: 100;
    line-height: normal;
  }
  .header-1-400 {
    @apply header-1-100;
    font-weight: 400;
  }
  .header-1-500 {
    @apply header-1-100;
    font-weight: 500;
  }
  .header-1-600 {
    @apply header-1-100;
    font-weight: 600;
  }

  .header-2-100 {
    font-size: 16px;
    font-weight: 100;
    line-height: normal;
  }
  .header-2-400 {
    @apply header-2-100;
    font-weight: 400;
  }
  .header-2-600 {
    @apply header-2-100;
    font-weight: 600;
  }

  .header-3-100 {
    font-size: 12px !important;
    color: #3b4854 !important;
    font-weight: 100;
    line-height: normal;
  }

  .header-3-600 {
    @apply header-3-100;
    font-weight: 600;
  }

  .text-lg {
    font-size: 16px;
    line-height: 24px;
  }
  .text-md {
    font-size: 14px;
    line-height: 21px;
  }
  .text-md-500 {
    @apply text-md;
    font-weight: 500;
  }
  .text-sm {
    font-size: 12px;
    line-height: 150%;
  }
}

/* Froala toolbar bottom */
.fr-toolbar .fr-newline {
  background: none !important;
}

.layout {
  padding-left: 90px;
  padding-right: 60px;
}
.main_container_height {
  height: calc(100vh - 60px);
}

.markdown h1 {
  font-size: 28px;
  font-weight: 600;
  text-decoration: underline;
  margin-bottom: 20px;
}
.markdown h2 {
  font-size: 24px;
  font-weight: 600;
  text-decoration: underline;

  margin-bottom: 20px;
}
.markdown h3 {
  font-size: 20px;
  font-weight: 600;
  text-decoration: underline;

  margin-bottom: 20px;
}
.markdown p {
  @apply text-lg;
  line-height: 40px;
  margin-bottom: 1rem;
}

a[href="https://www.froala.com/wysiwyg-editor?k=u"]
{
  display: none !important;
}

.fr-second-toolbar {
  display: none !important;
}
